In [1]:
import pandas as pd
import numpy as np
import datetime as dt
import matplotlib.pyplot as plt

In [3]:
df = pd.read_excel('./7500/2- по времени с 13 ноября.xlsx')

In [4]:
df.head()

,Дата и Время,Глубина,Вес на крюке,Высота крюка,Скорость СПО,Нагр.на дол,Момент на роторе,Глубина долота,Обороты,Давление,...,Unnamed: 63,Unnamed: 64,Unnamed: 65,Unnamed: 66,Unnamed: 67,Unnamed: 68,Unnamed: 69,Unnamed: 70,Unnamed: 71,Unnamed: 72
0,MON DD YEAR HH:MM,m,tonnes,m,m/min,tonnes,KNm,m,NaN,Kg/cm2,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Nov 13 2020 20:00,667,4300,32,9970,20,5500,0,0.0,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,Nov 13 2020 20:00,667,4300,32,9970,20,5500,0,0.0,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,Nov 13 2020 20:00,667,4300,32,9970,20,5500,0,0.0,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,Nov 13 2020 20:00,667,4300,32,9720,20,5500,0,0.0,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [5]:
df = df.drop(df.index[0])
df.head(2)

,Дата и Время,Глубина,Вес на крюке,Высота крюка,Скорость СПО,Нагр.на дол,Момент на роторе,Глубина долота,Обороты,Давление,...,Unnamed: 63,Unnamed: 64,Unnamed: 65,Unnamed: 66,Unnamed: 67,Unnamed: 68,Unnamed: 69,Unnamed: 70,Unnamed: 71,Unnamed: 72
1,Nov 13 2020 20:00,667,4300,32,9970,20,5500,0,0.0,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,Nov 13 2020 20:00,667,4300,32,9970,20,5500,0,0.0,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [6]:
df['Дата и Время'] = pd.to_datetime(df['Дата и Время'], dayfirst=True)
df.head(3)

,Дата и Время,Глубина,Вес на крюке,Высота крюка,Скорость СПО,Нагр.на дол,Момент на роторе,Глубина долота,Обороты,Давление,...,Unnamed: 63,Unnamed: 64,Unnamed: 65,Unnamed: 66,Unnamed: 67,Unnamed: 68,Unnamed: 69,Unnamed: 70,Unnamed: 71,Unnamed: 72
1,2020-11-13 20:00:00,667,4300,32,9970,20,5500,0,0.0,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,2020-11-13 20:00:00,667,4300,32,9970,20,5500,0,0.0,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,2020-11-13 20:00:00,667,4300,32,9970,20,5500,0,0.0,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [7]:
df["Дата и Время"] = pd.to_datetime(df["Дата и Время"],format='%m/%d/%Y %H:%M')

In [8]:
df.head()

,Дата и Время,Глубина,Вес на крюке,Высота крюка,Скорость СПО,Нагр.на дол,Момент на роторе,Глубина долота,Обороты,Давление,...,Unnamed: 63,Unnamed: 64,Unnamed: 65,Unnamed: 66,Unnamed: 67,Unnamed: 68,Unnamed: 69,Unnamed: 70,Unnamed: 71,Unnamed: 72
1,2020-11-13 20:00:00,667,4300,32,9970,20,5500,0,0.0,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,2020-11-13 20:00:00,667,4300,32,9970,20,5500,0,0.0,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,2020-11-13 20:00:00,667,4300,32,9970,20,5500,0,0.0,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,2020-11-13 20:00:00,667,4300,32,9720,20,5500,0,0.0,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
5,2020-11-13 20:00:00,667,4300,32,9970,20,5500,0,0.0,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [9]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 431960 entries, 1 to 431960
Data columns (total 73 columns):
 #   Column                Non-Null Count   Dtype
---  ------                --------------   -----
 0   Дата и Время          431960 non-null  datetime64[ns]
 1   Глубина               431960 non-null  object
 2   Вес на крюке          431960 non-null  object
 3   Высота крюка          431960 non-null  object
 4   Скорость СПО          431960 non-null  object
 5   Нагр.на дол           431960 non-null  object
 6   Момент на роторе      431960 non-null  object
 7   Глубина долота        431960 non-null  object
 8   Обороты               431960 non-null  float64
 9   Давление              431960 non-null  object
 10  Мех.скорость средняя  431960 non-null  object
 11  Ходы насоса 1         431960 non-null  object
 12  Ходы насоса 2         431960 non-null  object
 13  Расход вх.            431960 non-null  object
 14  Темп.вх               431960 non-null  object
 15  Темп.вых              431960 non-null  object
 16  Плотность вх          431960 non-null  object
 17  Плотность вых.        431960 non-null  object
 18  Поток на вых.         431960 non-null  object
 19  Рабочая емк.1         431960 non-null  object
 20  Рабочая емк.2         431960 non-null  object
 21  БПР 1                 431960 non-null  object
 22  БПР 2                 431960 non-null  object
 23  Долив                 431960 non-null  object
 24  ЦСГО                  431960 non-null  object
 25  ЦСГО 2                431960 non-null  object
 26  Pit 7                 431960 non-null  object
 27  Pit 8                 431960 non-null  object
 28  Сумм. актив ёмк.      431960 non-null  object
 29  С1                    431960 non-null  object
 30  С2                    431960 non-null  object
 31  С3                    431960 non-null  object
 32  iC4                   431960 non-null  object
 33  nC4                   431960 non-null  object
 34  iC5                   431960 non-null  object
 35  nC5                   431960 non-null  object
 36  Сумм.газ.хромат       431960 non-null  object
 37  Unnamed: 37           431960 non-null  float64
 38  Unnamed: 38           431960 non-null  float64
 39  Unnamed: 39           431960 non-null  float64
 40  Unnamed: 40           431960 non-null  float64
 41  Unnamed: 41           431960 non-null  float64
 42  Unnamed: 42           431960 non-null  float64
 43  Unnamed: 43           431960 non-null  float64
 44  Unnamed: 44           431960 non-null  float64
 45  Unnamed: 45           431960 non-null  float64
 46  Unnamed: 46           431960 non-null  float64
 47  Unnamed: 47           431960 non-null  float64
 48  Unnamed: 48           431960 non-null  float64
 49  Unnamed: 49           431960 non-null  float64
 50  Unnamed: 50           431960 non-null  float64
 51  Unnamed: 51           431960 non-null  float64
 52  Unnamed: 52           431960 non-null  float64
 53  Unnamed: 53           431960 non-null  float64
 54  Unnamed: 54           431960 non-null  float64
 55  Unnamed: 55           431960 non-null  float64
 56  Unnamed: 56           431960 non-null  float64
 57  Unnamed: 57           431960 non-null  float64
 58  Unnamed: 58           431960 non-null  float64
 59  Unnamed: 59           431960 non-null  float64
 60  Unnamed: 60           431960 non-null  float64
 61  Unnamed: 61           431960 non-null  float64
 62  Unnamed: 62           431960 non-null  float64
 63  Unnamed: 63           431960 non-null  float64
 64  Unnamed: 64           431960 non-null  float64
 65  Unnamed: 65           431960 non-null  float64
 66  Unnamed: 66           431960 non-null  float64
 67  Unnamed: 67           431960 non-null  float64
 68  Unnamed: 68           431960 non-null  float64
 69  Unnamed: 69           431960 non-null  float64
 70  Unnamed: 70           431960 non-null  float64
 71  Unnamed: 71           431960 non-null  float64
 72  Unnamed: 72           431960 non-null  float64
dtypes: datetime64[ns](1), float64(37), object(35)
memory usage: 243.9+ MB

In [10]:
df.isnull().sum()

Дата и Время    0
Глубина         0
Вес на крюке    0
Высота крюка    0
Скорость СПО    0
               ..
Unnamed: 68     0
Unnamed: 69     0
Unnamed: 70     0
Unnamed: 71     0
Unnamed: 72     0
Length: 73, dtype: int64

In [11]:
df.columns

Index(['Дата и Время', 'Глубина', 'Вес на крюке', 'Высота крюка',
       'Скорость СПО', 'Нагр.на дол', 'Момент на роторе', 'Глубина долота',
       'Обороты', 'Давление', 'Мех.скорость средняя', 'Ходы насоса 1',
       'Ходы насоса 2', 'Расход вх.', 'Темп.вх', 'Темп.вых', 'Плотность вх',
       'Плотность вых.', 'Поток на вых.', 'Рабочая емк.1', 'Рабочая емк.2',
       'БПР 1', 'БПР 2', 'Долив', 'ЦСГО ', 'ЦСГО 2', 'Pit 7', 'Pit 8',
       'Сумм. актив ёмк.', 'С1', 'С2', 'С3', 'iC4', 'nC4', 'iC5', 'nC5',
       'Сумм.газ.хромат', 'Unnamed: 37', 'Unnamed: 38', 'Unnamed: 39',
       'Unnamed: 40', 'Unnamed: 41', 'Unnamed: 42', 'Unnamed: 43',
       'Unnamed: 44', 'Unnamed: 45', 'Unnamed: 46', 'Unnamed: 47',
       'Unnamed: 48', 'Unnamed: 49', 'Unnamed: 50', 'Unnamed: 51',
       'Unnamed: 52', 'Unnamed: 53', 'Unnamed: 54', 'Unnamed: 55',
       'Unnamed: 56', 'Unnamed: 57', 'Unnamed: 58', 'Unnamed: 59',
       'Unnamed: 60', 'Unnamed: 61', 'Unnamed: 62', 'Unnamed: 63',
       'Unnamed: 64', 'Unnamed: 65', 'Unnamed: 66', 'Unnamed: 67',
       'Unnamed: 68', 'Unnamed: 69', 'Unnamed: 70', 'Unnamed: 71',
       'Unnamed: 72'],
      dtype='object')

In [6]:
df['Обороты'] = df['Обороты'].fillna(method='bfill')

In [7]:
df.isnull().sum()

Дата и Время            0
Глубина                 0
Вес на крюке            0
Высота крюка            0
Скорость СПО            0
Нагр.на дол             0
Момент на роторе        0
Глубина долота          0
Обороты                 0
Давление                0
Мех.скорость средняя    0
Ходы насоса 1           0
Ходы насоса 2           0
Расход вх.              0
Темп.вх                 0
Темп.вых                0
Плотность вх            0
Плотность вых.          0
Поток на вых.           0
Рабочая емк.1           0
Рабочая емк.2           0
БПР 1                   0
БПР 2                   0
Долив                   0
ЦСГО                    0
ЦСГО 2                  0
Pit 7                   0
Pit 8                   0
Сумм. актив ёмк.        0
С1                      0
С2                      0
С3                      0
iC4                     0
nC4                     0
iC5                     0
nC5                     0
Сумм.газ.хромат         0
dtype: int64

In [8]:
df.head(10)

,Дата и Время,Глубина,Вес на крюке,Высота крюка,Скорость СПО,Нагр.на дол,Момент на роторе,Глубина долота,Обороты,Давление,...,Pit 8,Сумм. актив ёмк.,С1,С2,С3,iC4,nC4,iC5,nC5,Сумм.газ.хромат
0,MON DD YEAR HH:MM,m,tonnes,m,m/min,tonnes,KNm,m,-999.25,Kg/cm2,...,m3,m3,%,%,%,%,%,%,%,%
1,Nov 09 2020 08:14,-999.25,-999.25,-999.25,-999.25,-999.25,-999.25,-999.25,-999.25,-999.25,...,0,-999.25,-999.25,-999.25,-999.25,-999.25,-999.25,-999.25,-999.25,-999.25
2,Nov 09 2020 08:14,-999.25,-999.25,-999.25,-999.25,-999.25,-999.25,-999.25,-999.25,-999.25,...,0,-999.25,-999.25,-999.25,-999.25,-999.25,-999.25,-999.25,-999.25,-999.25
3,Nov 09 2020 08:15,-999.25,-999.25,-999.25,-999.25,-999.25,-999.25,-999.25,-999.25,-999.25,...,0,-999.25,-999.25,-999.25,-999.25,-999.25,-999.25,-999.25,-999.25,-999.25
4,Nov 09 2020 08:15,-999.25,-999.25,-999.25,-999.25,-999.25,-999.25,-999.25,-999.25,-999.25,...,0,-999.25,-999.25,-999.25,-999.25,-999.25,-999.25,-999.25,-999.25,-999.25
5,Nov 09 2020 08:16,-999.25,-999.25,-999.25,-999.25,-999.25,-999.25,-999.25,-999.25,-999.25,...,0,-999.25,-999.25,-999.25,-999.25,-999.25,-999.25,-999.25,-999.25,-999.25
6,Nov 09 2020 08:16,-999.25,-999.25,-999.25,-999.25,-999.25,-999.25,-999.25,-999.25,-999.25,...,0,-999.25,-999.25,-999.25,-999.25,-999.25,-999.25,-999.25,-999.25,-999.25
7,Nov 09 2020 08:17,-999.25,-999.25,-999.25,-999.25,-999.25,-999.25,-999.25,-999.25,-999.25,...,0,-999.25,-999.25,-999.25,-999.25,-999.25,-999.25,-999.25,-999.25,-999.25
8,Nov 09 2020 08:17,-999.25,-999.25,-999.25,-999.25,-999.25,-999.25,-999.25,-999.25,-999.25,...,0,-999.25,-999.25,-999.25,-999.25,-999.25,-999.25,-999.25,-999.25,-999.25
9,Nov 09 2020 08:18,-999.25,-999.25,-999.25,-999.25,-999.25,-999.25,-999.25,-999.25,-999.25,...,0,-999.25,-999.25,-999.25,-999.25,-999.25,-999.25,-999.25,-999.25,-999.25

In [10]:
df.head()

,Дата и Время,Глубина,Вес на крюке,Высота крюка,Скорость СПО,Нагр.на дол,Момент на роторе,Глубина долота,Обороты,Давление,...,Pit 8,Сумм. актив ёмк.,С1,С2,С3,iC4,nC4,iC5,nC5,Сумм.газ.хромат
1,Nov 09 2020 08:14,-999.25,-999.25,-999.25,-999.25,-999.25,-999.25,-999.25,-999.25,-999.25,...,0,-999.25,-999.25,-999.25,-999.25,-999.25,-999.25,-999.25,-999.25,-999.25
2,Nov 09 2020 08:14,-999.25,-999.25,-999.25,-999.25,-999.25,-999.25,-999.25,-999.25,-999.25,...,0,-999.25,-999.25,-999.25,-999.25,-999.25,-999.25,-999.25,-999.25,-999.25
3,Nov 09 2020 08:15,-999.25,-999.25,-999.25,-999.25,-999.25,-999.25,-999.25,-999.25,-999.25,...,0,-999.25,-999.25,-999.25,-999.25,-999.25,-999.25,-999.25,-999.25,-999.25
4,Nov 09 2020 08:15,-999.25,-999.25,-999.25,-999.25,-999.25,-999.25,-999.25,-999.25,-999.25,...,0,-999.25,-999.25,-999.25,-999.25,-999.25,-999.25,-999.25,-999.25,-999.25
5,Nov 09 2020 08:16,-999.25,-999.25,-999.25,-999.25,-999.25,-999.25,-999.25,-999.25,-999.25,...,0,-999.25,-999.25,-999.25,-999.25,-999.25,-999.25,-999.25,-999.25,-999.25

In [12]:
df.duplicated().sum()

725

In [12]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 384725 entries, 1 to 384725
Data columns (total 37 columns):
 #   Column                Non-Null Count   Dtype
---  ------                --------------   -----
 0   Дата и Время          384725 non-null  object
 1   Глубина               384725 non-null  object
 2   Вес на крюке          384725 non-null  object
 3   Высота крюка          384725 non-null  object
 4   Скорость СПО          384725 non-null  object
 5   Нагр.на дол           384725 non-null  object
 6   Момент на роторе      384725 non-null  object
 7   Глубина долота        384725 non-null  object
 8   Обороты               384725 non-null  float64
 9   Давление              384725 non-null  object
 10  Мех.скорость средняя  384725 non-null  object
 11  Ходы насоса 1         384725 non-null  object
 12  Ходы насоса 2         384725 non-null  object
 13  Расход вх.            384725 non-null  object
 14  Темп.вх               384725 non-null  object
 15  Темп.вых              384725 non-null  object
 16  Плотность вх          384725 non-null  object
 17  Плотность вых.        384725 non-null  object
 18  Поток на вых.         384725 non-null  object
 19  Рабочая емк.1         384725 non-null  object
 20  Рабочая емк.2         384725 non-null  object
 21  БПР 1                 384725 non-null  object
 22  БПР 2                 384725 non-null  object
 23  Долив                 384725 non-null  object
 24  ЦСГО                  384725 non-null  object
 25  ЦСГО 2                384725 non-null  object
 26  Pit 7                 384725 non-null  object
 27  Pit 8                 384725 non-null  object
 28  Сумм. актив ёмк.      384725 non-null  object
 29  С1                    384725 non-null  object
 30  С2                    384725 non-null  object
 31  С3                    384725 non-null  object
 32  iC4                   384725 non-null  object
 33  nC4                   384725 non-null  object
 34  iC5                   384725 non-null  object
 35  nC5                   384725 non-null  object
 36  Сумм.газ.хромат       384725 non-null  object
dtypes: float64(1), object(36)
memory usage: 111.5+ MB

In [13]:
df["Дата и Время"] = pd.to_datetime(df["Дата и Время"],errors='coerce',format='%m %d %Y %H:%M')

In [14]:
df.head()

,Дата и Время,Глубина,Вес на крюке,Высота крюка,Скорость СПО,Нагр.на дол,Момент на роторе,Глубина долота,Обороты,Давление,...,Unnamed: 63,Unnamed: 64,Unnamed: 65,Unnamed: 66,Unnamed: 67,Unnamed: 68,Unnamed: 69,Unnamed: 70,Unnamed: 71,Unnamed: 72
1,2020-11-13 20:00:00,667,4300,32,9970,20,5500,0,0.0,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,2020-11-13 20:00:00,667,4300,32,9970,20,5500,0,0.0,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,2020-11-13 20:00:00,667,4300,32,9970,20,5500,0,0.0,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,2020-11-13 20:00:00,667,4300,32,9720,20,5500,0,0.0,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
5,2020-11-13 20:00:00,667,4300,32,9970,20,5500,0,0.0,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [15]:
df.set_index('Дата и Время', inplace=True)

In [16]:
df.head()

,Глубина,Вес на крюке,Высота крюка,Скорость СПО,Нагр.на дол,Момент на роторе,Глубина долота,Обороты,Давление,Мех.скорость средняя,...,Unnamed: 63,Unnamed: 64,Unnamed: 65,Unnamed: 66,Unnamed: 67,Unnamed: 68,Unnamed: 69,Unnamed: 70,Unnamed: 71,Unnamed: 72
Дата и Время,,,,,,,,,,,,,,,,,,,,,
2020-11-13 20:00:00,667,4300,32,9970,20,5500,0,0.0,0,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2020-11-13 20:00:00,667,4300,32,9970,20,5500,0,0.0,0,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2020-11-13 20:00:00,667,4300,32,9970,20,5500,0,0.0,0,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2020-11-13 20:00:00,667,4300,32,9720,20,5500,0,0.0,0,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2020-11-13 20:00:00,667,4300,32,9970,20,5500,0,0.0,0,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [17]:
df = df.resample('1min').mean()
df.shape

(7201, 37)

In [18]:
df.head()

,Обороты,Unnamed: 37,Unnamed: 38,Unnamed: 39,Unnamed: 40,Unnamed: 41,Unnamed: 42,Unnamed: 43,Unnamed: 44,Unnamed: 45,...,Unnamed: 63,Unnamed: 64,Unnamed: 65,Unnamed: 66,Unnamed: 67,Unnamed: 68,Unnamed: 69,Unnamed: 70,Unnamed: 71,Unnamed: 72
Дата и Время,,,,,,,,,,,,,,,,,,,,,
2020-11-13 20:00:00,251.666667,22.0,6681.666667,-3.150000,5822.666667,0.0,9990.0,21.00,323.333333,1.0,...,0.0,0.000000,0.0,0.000000,0.0,0.000000,0.0,0.000000,0.0,0.666667
2020-11-13 20:01:00,2400.000000,22.0,5873.500000,-15.050000,5241.500000,0.0,9990.0,21.00,408.500000,1.0,...,0.0,0.033333,0.0,0.033333,0.0,0.000000,0.0,0.000000,0.0,8.200000
2020-11-13 20:02:00,2145.000000,22.0,5764.000000,-18.466667,4959.333333,0.0,9990.0,21.00,472.333333,1.0,...,0.0,2.000000,0.0,2.000000,0.0,0.000000,0.0,0.000000,0.0,20.000000
2020-11-13 20:03:00,2665.000000,22.0,4969.833333,-11.816667,5085.833333,0.0,9990.0,21.00,512.166667,1.0,...,0.0,0.100000,0.0,0.100000,0.0,1.900000,0.0,1.900000,0.0,12.400000
2020-11-13 20:04:00,3185.000000,22.0,4724.333333,-24.383333,4381.500000,0.0,9990.0,21.25,2962.000000,1.0,...,0.0,1.733333,0.0,1.733333,0.0,0.266667,0.0,0.266667,0.0,5.066667