In [1]:
import pandas as pd
import numpy as np
import datetime as dt
import matplotlib.pyplot as plt

In [504]:
df = pd.read_excel('../7400/22- 16 март.xlsx')

In [505]:
df.head()

,Дата и Время,Глубина,Вес на крюке,Высота крюка,Скорость СПО,Нагр.на дол,Момент на роторе,Глубина долота,Обороты,Давление,...,ЦСГО 2,Сумм. актив ёмк.,С1,С2,С3,iC4,nC4,iC5,nC5,Сумм.газ.хромат
0,MON DD YEAR HH:MM,m,tonnes,m,m/min,tonnes,KNm,m,NaN,Kg/cm2,...,m3,m3,%,%,%,%,%,%,%,%
1,Mar 16 2021 20:00,3700,31.875,2.4,0.78,0,17.061,3614.73,79.0,126,...,20.807,53.185,-999.25,-999.25,-999.25,-999.25,-999.25,-999.25,-999.25,-999.25
2,Mar 16 2021 20:00,3700,31.621,2.36,0.39,0,16.9341,3614.77,79.0,127,...,20.799,53.185,-999.25,-999.25,-999.25,-999.25,-999.25,-999.25,-999.25,-999.25
3,Mar 16 2021 20:00,3700,31.953,2.32,1.17,0,17.0187,3614.81,79.0,127,...,20.772,53.182,-999.25,-999.25,-999.25,-999.25,-999.25,-999.25,-999.25,-999.25
4,Mar 16 2021 20:00,3700,31.816,2.29,1.17,0,17.1174,3614.84,79.0,126,...,20.801,53.155,-999.25,-999.25,-999.25,-999.25,-999.25,-999.25,-999.25,-999.25

In [506]:
df = df.drop(df.index[0])
df.head(2)

,Дата и Время,Глубина,Вес на крюке,Высота крюка,Скорость СПО,Нагр.на дол,Момент на роторе,Глубина долота,Обороты,Давление,...,ЦСГО 2,Сумм. актив ёмк.,С1,С2,С3,iC4,nC4,iC5,nC5,Сумм.газ.хромат
1,Mar 16 2021 20:00,3700,31.875,2.4,0.78,0,17.061,3614.73,79.0,126,...,20.807,53.185,-999.25,-999.25,-999.25,-999.25,-999.25,-999.25,-999.25,-999.25
2,Mar 16 2021 20:00,3700,31.621,2.36,0.39,0,16.9341,3614.77,79.0,127,...,20.799,53.185,-999.25,-999.25,-999.25,-999.25,-999.25,-999.25,-999.25,-999.25

In [507]:
df['Дата и Время'] = pd.to_datetime(df['Дата и Время'], dayfirst=True)
df.head(3)

,Дата и Время,Глубина,Вес на крюке,Высота крюка,Скорость СПО,Нагр.на дол,Момент на роторе,Глубина долота,Обороты,Давление,...,ЦСГО 2,Сумм. актив ёмк.,С1,С2,С3,iC4,nC4,iC5,nC5,Сумм.газ.хромат
1,2021-03-16 20:00:00,3700,31.875,2.4,0.78,0,17.061,3614.73,79.0,126,...,20.807,53.185,-999.25,-999.25,-999.25,-999.25,-999.25,-999.25,-999.25,-999.25
2,2021-03-16 20:00:00,3700,31.621,2.36,0.39,0,16.9341,3614.77,79.0,127,...,20.799,53.185,-999.25,-999.25,-999.25,-999.25,-999.25,-999.25,-999.25,-999.25
3,2021-03-16 20:00:00,3700,31.953,2.32,1.17,0,17.0187,3614.81,79.0,127,...,20.772,53.182,-999.25,-999.25,-999.25,-999.25,-999.25,-999.25,-999.25,-999.25

In [508]:
df["Дата и Время"] = pd.to_datetime(df["Дата и Время"],format='%m/%d/%Y %H:%M')

In [509]:
df.columns = df.columns.str.strip()

In [510]:
df['Глубина'] = df['Глубина'].astype(float)
df['Вес на крюке'] = df['Вес на крюке'].astype(float)
df['Высота крюка'] = df['Высота крюка'].astype(float)
df['Скорость СПО'] = df['Скорость СПО'].astype(float)
df['Нагр.на дол'] = df['Нагр.на дол'].astype(float)
df['Момент на роторе'] = df['Момент на роторе'].astype(float)

df['Глубина долота'] = df['Глубина долота'].astype(float)
df['Давление'] = df['Давление'].astype(float)
df['Мех.скорость средняя'] = df['Мех.скорость средняя'].astype(float)
df['Ходы насоса 1'] = df['Ходы насоса 1'].astype(float)
df['Ходы насоса 2'] = df['Ходы насоса 2'].astype(float)
df['Расход вх.'] = df['Расход вх.'].astype(float)

df['Темп.вх'] = df['Темп.вх'].astype(float)
df['Темп.вых'] = df['Темп.вых'].astype(float)
df['Плотность вх'] = df['Плотность вх'].astype(float)
df['Плотность вых.'] = df['Плотность вых.'].astype(float)
df['Поток на вых.'] = df['Поток на вых.'].astype(float)
df['Рабочая емк.1'] = df['Рабочая емк.1'].astype(float)

df['Рабочая емк.2'] = df['Рабочая емк.2'].astype(float)
df['БПР 1'] = df['БПР 1'].astype(float)
df['БПР 2'] = df['БПР 2'].astype(float)
df['Долив'] = df['Долив'].astype(float)
df['ЦСГО'] = df['ЦСГО'].astype(float)
df['ЦСГО 2'] = df['ЦСГО 2'].astype(float)

df['Сумм. актив ёмк.'] = df['Сумм. актив ёмк.'].astype(float)
df['С1'] = df['С1'].astype(float)
df['С2'] = df['С2'].astype(float)
df['С3'] = df['С3'].astype(float)
df['iC4'] = df['iC4'].astype(float)
df['nC4'] = df['nC4'].astype(float)
df['iC5'] = df['iC5'].astype(float)
df['nC5'] = df['nC5'].astype(float)
df['Сумм.газ.хромат'] = df['Сумм.газ.хромат'].astype(float)

In [511]:
df.isnull().sum()

Дата и Время            0
Глубина                 0
Вес на крюке            0
Высота крюка            0
Скорость СПО            0
Нагр.на дол             0
Момент на роторе        0
Глубина долота          0
Обороты                 0
Давление                0
Мех.скорость средняя    0
Ходы насоса 1           0
Ходы насоса 2           0
Расход вх.              0
Темп.вх                 0
Темп.вых                0
Плотность вх            0
Плотность вых.          0
Поток на вых.           0
Рабочая емк.1           0
Рабочая емк.2           0
БПР 1                   0
БПР 2                   0
Долив                   0
ЦСГО                    0
ЦСГО 2                  0
Сумм. актив ёмк.        0
С1                      0
С2                      0
С3                      0
iC4                     0
nC4                     0
iC5                     0
nC5                     0
Сумм.газ.хромат         0
dtype: int64

In [512]:
df.set_index('Дата и Время', inplace=True)

In [513]:
print(df.index.min())
print(df.index.max())

2021-03-16 20:00:00
2021-03-21 19:37:00

In [514]:
df= df.replace(-999.25, np.nan)

In [515]:
df.head()

,Глубина,Вес на крюке,Высота крюка,Скорость СПО,Нагр.на дол,Момент на роторе,Глубина долота,Обороты,Давление,Мех.скорость средняя,...,ЦСГО 2,Сумм. актив ёмк.,С1,С2,С3,iC4,nC4,iC5,nC5,Сумм.газ.хромат
Дата и Время,,,,,,,,,,,,,,,,,,,,,
2021-03-16 20:00:00,3700.0,31.875,2.40,0.78,0.0,17.0610,3614.73,79.0,126.0,0.0,...,20.807,53.185,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2021-03-16 20:00:00,3700.0,31.621,2.36,0.39,0.0,16.9341,3614.77,79.0,127.0,0.0,...,20.799,53.185,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2021-03-16 20:00:00,3700.0,31.953,2.32,1.17,0.0,17.0187,3614.81,79.0,127.0,0.0,...,20.772,53.182,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2021-03-16 20:00:00,3700.0,31.816,2.29,1.17,0.0,17.1174,3614.84,79.0,126.0,0.0,...,20.801,53.155,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2021-03-16 20:00:00,3700.0,31.875,2.25,0.78,0.0,17.2866,3614.88,79.0,127.0,0.0,...,20.767,53.105,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [516]:
df = df.resample('1min').mean()
df.shape

(7178, 34)

In [517]:
df.isna().sum()

Глубина                  416
Вес на крюке            1390
Высота крюка            1390
Скорость СПО            1415
Нагр.на дол             1390
Момент на роторе        1412
Глубина долота          1390
Обороты                 1390
Давление                1390
Мех.скорость средняя     416
Ходы насоса 1           1412
Ходы насоса 2           1412
Расход вх.               416
Темп.вх                 1412
Темп.вых                1412
Плотность вх            1412
Плотность вых.          1412
Поток на вых.           1390
Рабочая емк.1           1390
Рабочая емк.2           1390
БПР 1                   1390
БПР 2                   1390
Долив                   1390
ЦСГО                     416
ЦСГО 2                  1390
Сумм. актив ёмк.        1390
С1                      6911
С2                      6911
С3                      6911
iC4                     6911
nC4                     6911
iC5                     6911
nC5                     6911
Сумм.газ.хромат         6911
dtype: int64

In [518]:
С1=np.nanmedian(df['С1'])
С2=np.nanmedian(df['С2'])
С3=np.nanmedian(df['С3'])
iC4=np.nanmedian(df['iC4'])
nC4=np.nanmedian(df['nC4'])
iC5=np.nanmedian(df['iC5'])
nC5=np.nanmedian(df['nC5'])
sum_med=np.nanmedian(df['Сумм.газ.хромат'])

df['С1']=df['С1'].fillna(С1)
df['С2']=df['С2'].fillna(С2)
df['С3']=df['С3'].fillna(С3)
df['iC4']=df['iC4'].fillna(iC4)
df['nC4']=df['nC4'].fillna(nC4)
df['iC5']=df['iC5'].fillna(iC5)
df['nC5']=df['nC5'].fillna(nC5)
df['Сумм.газ.хромат']=df['Сумм.газ.хромат'].fillna(sum_med)

In [519]:
df['Глубина'] = df['Глубина'].fillna(method='ffill')
df['Вес на крюке'] = df['Вес на крюке'].fillna(method='ffill')
df['Высота крюка'] = df['Высота крюка'].fillna(method='ffill')
df['Скорость СПО'] = df['Скорость СПО'].fillna(method='ffill')
df['Нагр.на дол'] = df['Нагр.на дол'].fillna(method='ffill')
df['Момент на роторе'] = df['Момент на роторе'].fillna(method='ffill')
df['Глубина долота'] = df['Глубина долота'].fillna(method='ffill')
df['Обороты'] = df['Обороты'].fillna(method='ffill')
df['Давление'] = df['Давление'].fillna(method='ffill')
df['Мех.скорость средняя'] = df['Мех.скорость средняя'].fillna(method='ffill')
df['Ходы насоса 1'] = df['Ходы насоса 1'].fillna(method='ffill')
df['Ходы насоса 2'] = df['Ходы насоса 2'].fillna(method='ffill')
df['Расход вх.'] = df['Расход вх.'].fillna(method='ffill')
df['Темп.вх'] = df['Темп.вх'].fillna(method='ffill')
df['Темп.вых'] = df['Темп.вых'].fillna(method='ffill')
df['Плотность вх'] = df['Плотность вх'].fillna(method='ffill')
df['Плотность вых.'] = df['Плотность вых.'].fillna(method='ffill')
df['Поток на вых.'] = df['Поток на вых.'].fillna(method='ffill')
df['Рабочая емк.1'] = df['Рабочая емк.1'].fillna(method='ffill')
df['Рабочая емк.2'] = df['Рабочая емк.2'].fillna(method='ffill')
df['БПР 1'] = df['БПР 1'].fillna(method='ffill')
df['БПР 2'] = df['БПР 2'].fillna(method='ffill')
df['Долив'] = df['Долив'].fillna(method='ffill')
df['ЦСГО'] = df['ЦСГО'].fillna(method='ffill')
df['ЦСГО 2'] = df['ЦСГО 2'].fillna(method='ffill')
df['Сумм. актив ёмк.'] = df['Сумм. актив ёмк.'].fillna(method='ffill')

In [520]:
df.isna().sum()

Глубина                 0
Вес на крюке            0
Высота крюка            0
Скорость СПО            0
Нагр.на дол             0
Момент на роторе        0
Глубина долота          0
Обороты                 0
Давление                0
Мех.скорость средняя    0
Ходы насоса 1           0
Ходы насоса 2           0
Расход вх.              0
Темп.вх                 0
Темп.вых                0
Плотность вх            0
Плотность вых.          0
Поток на вых.           0
Рабочая емк.1           0
Рабочая емк.2           0
БПР 1                   0
БПР 2                   0
Долив                   0
ЦСГО                    0
ЦСГО 2                  0
Сумм. актив ёмк.        0
С1                      0
С2                      0
С3                      0
iC4                     0
nC4                     0
iC5                     0
nC5                     0
Сумм.газ.хромат         0
dtype: int64

In [119]:
pwd

'C:\\Users\\daur\\Praktika\\code'

In [521]:
# df.to_excel(r'C:\Users\Ron\Desktop\File_Name.xlsx', index = False)
df.to_excel(r'C:\Users\daur\Praktika\7400_compressed\22-16март_comp.xlsx')